<widget xmlns = "http://www.w3.org/ns/widgets"
		xmls:gap    = "http://phonegap.com/ns/1.0"
		id		    = "com.phonegap.example"
		versionCode = "10"
		version 	= "1.1.0">

		<name> unbosque travel </name>

		<description> rutas </description>

		<author href = ""> texto </author>
</widget>